html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}
#root {
  /* display:  flex; */
  flex-direction: column;
  justify-content: space-between;    
}
::selection {
  background: none;
}
img {
  max-width: 100%;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-style-none {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: wrap;
  flex-direction: row;
}
